.wrapper{
    display: grid;
    grid-template-rows: auto auto;
}
.categoryContainer{
    grid-row: 2;
    display: grid;
    margin-top: 50px;
    grid-template-columns: auto auto auto ;
    grid-template-rows: auto auto;
    grid-gap: 50px 100px;
    margin-bottom: 50px;
    justify-content: center;
    padding-top: 5vh;
}
.mainEvents ul {
    border: 5px solid pink;
    column-count: 2;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: calc(8px + 1vh);
    list-style-type: none;
    color: #1C303F;
}

main {
    display: grid;
    grid-template-rows: auto auto;
    margin-bottom: 20px;
    margin-left: 20px;
    grid-row: 1;
    justify-content: center;
}
.eventTop{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1;
    align-items: center;
}
.mainEvents{
    grid-row: 2;
}
#mainImg {
    width: 400px;
}
.categoryContainerBox{
    background-color: pink;
    height: 200px;
    width:200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-family: 'Caveat', cursive;
    font-size: 1.75em;
    color: #C66348;
}

@keyframes tinyWiggle {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(-1deg);}
    75% {transform: rotate(1deg);}
    100% {transform: rotate(0deg);}
}

.owningMotherHood{
    background-color: pink;
}
.relationshipLifeSupport{
    background-color: pink;
}
.loveYourself{
    background-color: pink;
}
.englishCorner{
    background-color: pink;
}
.recyclingNutshell{
    background-color: pink;
}
.parenting{
    background-color: pink;
}

#welcome {
    font-family: 'Caveat', cursive;
    font-size: calc(25px + 5vh);
    color: #C66348;
    animation: tinyWiggle 5s infinite;
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
    .categoryContainer {
        margin-top: 0;
        padding-top: 0;
    }
}

