
footer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#F5E7E0;
    color:#C66358; 
    font-family: 'Signika', sans-serif;
    font-size: calc(10px + 0.8vh);
    object-fit: contain;
}

footer li{
    list-style-type: none;
    white-space: nowrap;
    color: grey;
}
footer a {
    background-color:#F5E7E0;
    text-decoration: none;
    color:#C66358; 
}

#footerNav {
    display: flex;
    flex-direction: row;
    padding-right: 2vh;
}

footer a:hover{
    color: #985A41;
}

.socialMedia {
    margin-left: 2vh;
    margin-right: 2vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    height: 70px;
}

.copyright {
    text-align: right;
}

@media only screen and (max-width: 599px) {
    footer {
        flex-direction: column;
    }

    #footerNav {
        flex-direction: column;
    }
    .socialMedia {
        flex-direction: column;
    }
}