body {
    background-color: #FFFFFF;
}

/* Hero Image Area */
main {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding-top: 15vh;
    height: calc(100vh - 16vh);
}

#heroStatement {
    padding-top: 8%;
    max-width: 1045px;
    margin-left: 8%;
    font-family: 'PT Sans', sans-serif;
    font-size: calc(16px + 1vh);
    text-align: center;
    color: #1C303F;
}

#heroStatement p {
    max-width: 1100px;
}

#welcome {
    font-family: 'Caveat', cursive;
    font-size: calc(25px + 5vh);
    color: #C66348;
}

#hero {
    object-fit: contain;
    min-width: 420px;
    min-height: 400px;
}

.register {
    font-family: 'Signika', sans-serif;
    text-transform: uppercase;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.register a {
    font-size: (20px + 1vh);
    text-decoration: none;
    color: #FFFFFF;
}

.register li {
    background-color: #C66348;
    border-radius: 15px;
    padding: 1vh;
}
/* End of Hero Image Area */

aside {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    background-color: #E3BBA7;
    text-align: center;
    padding-bottom: 10vh;
}

.stories ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

.story {
    background-color: white;
    object-fit: cover;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
.storyText {
    font-family: 'PT Sans', sans-serif;
    font-size: calc(16px + 1vh);
    text-align: center;
    color: #1C303F;
}

.storyStatement {
    font-family: 'PT Sans', sans-serif;
    font-size: calc(18px + 1vh);
}

.emoji {
    animation: wiggle 2s infinite;
}

@keyframes wiggle {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(-10deg);}
    75% {transform: rotate(10deg);}
    100% {transform: rotate(0deg);}
}
.storyText li {
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 1vh;
    width: 300px;
}
h2 {
    font-family: 'Caveat', cursive;
    font-size: calc(10px + 5vh);
    color: #1C303F;
    margin-bottom: 0;
}

.services {
    display: flex;
    flex-direction: column;
    background-color: #C66348;
    text-align: center;
}

.services h2 {
    color: white;
}

.services p {
    font-family: 'PT Sans', sans-serif;
    font-size: calc(16px + 1vh);
    color: #1C303F;
    list-style-type: none;
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
    main {
        padding-top: 10vh;
        padding-bottom: 2vh;
        height: fit-content;
    }

    .register {
        font-size: calc(10px + 1vh);
    }

    .register li {
        margin-right: 10px;
    }

    #heroStatement {
        padding-top: 5%;
    }

    .story {
    width: 200px;
    height: 200px;
    }
}

@media only screen and (max-width: 599px) {
    main {
        flex-direction: column;
        justify-items: center;
        height: fit-content;
    }

    #heroStatement {
        order: 2;
        margin: 0 auto;
        padding: 0;
    }

    #hero {
        order: 1;
    }
    
    #logo {
        margin-left: 1vh;
        height: 8vh;
        width: auto;
    }

    .register {
        margin: 0 auto;
        padding-bottom: 2vh;
        display: flex;
        flex-direction: column;
        width: fit-content;
    }

    .register li {
        margin: 1vh;
    }

    .stories ul {
        flex-direction: column;
    }
}