body {
    margin: 0 auto;
    padding: 0;
}

nav {
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: #F5E7E0;
    z-index: 5;
}

nav ul {
    display: flex;
    list-style-type: none;
    white-space: nowrap;
}

nav a {
    color: #C66358; 
    font-family: 'Signika', sans-serif;
    font-size: calc(10px + 1vh);
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    color: #985A41;
    border-bottom-style: solid;
}

#logo {
    margin-left: 2vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    height: 6vh;
    width: auto;
}

#home:hover {
    border-bottom-style: none;
}