main {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding-top: 15vh;
  height: calc(100vh - 16vh);
}
#welcome {
  font-family: 'Caveat', cursive;
  font-size: calc(30px + 5vh);
  color: #C66348;
}
#registration ul{
  font-family: 'PT Sans', sans-serif;
  font-size: calc(16px + 1vh);
  color: #1C303F;
  text-align: left;
}
#registration ul li {
  list-style: none;
}
.agreement {
  margin-bottom: 40px;
}